 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am a Software Developer based in London, UK. My home page has links to the various projects and activities I am curently involved with. Please have a look around or contact me directly via email.</p>
                </div>
                <div class="col-lg-4">
                    <p>I also offer consulting services via the companies below. For more details I would encourage you to take a look at the website links provided or head over to my LinkedIn profile.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a target="_blank" href="mailto:info@jsteenkamp.com" class="btn btn-lg btn-outline">
                        <i class="fa"></i>info@jsteenkamp.com
                    </a>
					<a target="_blank" href="https://www.linkedin.com/in/jjsteenkamp/" class="btn btn-lg btn-outline">
                        <i class="fa fa-linkedin-square"></i> - /jjsteenkamp
                    </a>
                    <a target="_blank" href="https://github.com/jjsteenkamp" class="btn btn-lg btn-outline">
                        <i class="fa fa-github-square"></i> - /jjsteenkamp
                    </a>
                </div>
                
                
            </div>
        </div>
    </section>

