 <!-- jQuery Version 1.11.0 -->
    <script src="{{ "/js/jquery-1.11.0.js" }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "/js/bootstrap.min.js" }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "/js/jquery.easing.min.js" }}"></script>
    <script src="{{ "/js/classie.js" }}"></script>
    <script src="{{ "/js/cbpAnimatedHeader.js" }}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{{ "/js/jqBootstrapValidation.js" }}"></script>
    {% if site.contact == "static" %}
    <script src="{{ "/js/contact_me_static.js" }}"></script>
    {% else %}
     <script src="{{ "/js/contact_me.js" }}"></script>
    {% endif %}

    <!-- Custom Theme JavaScript -->
    <script src="{{ "/js/freelancer.js" }}"></script>

   <script type="text/javascript" src="{{ '/js/cookieBubble.min.js' }}"></script>
  
  	<script>
            (function ($) {
                    $.cookieBubble(
                        {

                        iconVisibility: false,

                        cookiePolicyButtonUrl:'https://www.jsteenkamp.com/privacy-policy/index.html',
                        cookiePolicyButtonTarget:'_blank',
                        cookiePolicyButtonText: "Read Our Privacy Policy",
                        
                        buttonText: "Agree",
                        buttonColor:'#195A8F',
                        
                        messageTextColor: "FFFFFF",
                       // messageText: "We use cookies to provide the services and features offered on our website, and to improve our user experience. By using this website you agree to our use of these cookies as explained in our privacy policy.",
                        
                    });
            })(jQuery);
        </script>

    {% if site.contact == "disqus" %}
    <!-- Disqus Stuff -->
    {% include js_disqus.html %}
    {% endif %}
