<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" class="index">
    {% include nav.html %}
	
	<header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <span class="name">Requested Page Not Found</span>
                        <hr class="star-light">
                        <span class="skills">Please navigate again from the home page</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
	
	
    {% include footer.html %}
    {% include js.html %}

    </body>
</html>